# --- Target System ---
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_ykm888_sl-3000=y

# --- Kernel 5.15 ---
CONFIG_LINUX_5_15=y

# --- 512MB Logic ---
CONFIG_ZONE_DMA32=y

# --- Package Alignment ---
CONFIG_PACKAGE_uboot-mediatek=y
CONFIG_PACKAGE_uboot-mediatek-mt7981-nor-ddr4=y
CONFIG_PACKAGE_arm-trusted-firmware-mediatek=y
CONFIG_PACKAGE_arm-trusted-firmware-mediatek-mt7981-nor-ddr4=y

# --- 核心源头修复：物理屏蔽冲突 ---
CONFIG_PACKAGE_wpad-mesh-openssl=y
# CONFIG_PACKAGE_wpad is not set
# CONFIG_PACKAGE_wpad-basic is not set
# CONFIG_PACKAGE_wpa-supplicant is not set

# --- Drivers & Network ---
CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-mmc-mtk=y
CONFIG_PACKAGE_kmod-mtk-sd=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_kmod-mtk-eth-warp=y
CONFIG_PACKAGE_kmod-mtk-ppe=y
CONFIG_PACKAGE_luci-app-turboacc=y

# --- UI & Apps ---
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-vssr=y
CONFIG_PACKAGE_luci-theme-argon=y

# --- Strip Logic ---
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_USE_SSTRIP=y
